<div
  class="w-full h-screen bg-white relative overflow-hidden flex flex-col items-center justify-center px-6 py-12 text-black">
  <h2 class="font-[Modak] text-gray-900 text-3xl sm:text-4xl text-center select-none">
    <span class="text-[#5D50A2] hover:underline">Blockchain</span> vai além de criptomoedas
  </h2>

  <div class="flex gap-6 mt-10 z-10">
    <app-card *ngFor="let item of pyramidTop" [title]="item.title" [content]="item.content">
    </app-card>
  </div>

  <div class="flex gap-6 mt-10 z-10">
    <app-card *ngFor="let item of pyramidBottom" [title]="item.title" [content]="item.content">
    </app-card>
  </div>
</div>