<div
  class="w-full h-screen bg-white flex flex-col items-center justify-center px-8 py-12 relative text-black overflow-hidden select-none">
  <h2 class="font-[Modak] text-gray-900 text-3xl sm:text-4xl text-center z-10">
    <span class="text-[#6899CD] hover:underline">Blockchain</span> encontra tecnologias emergentes
  </h2>

  <p class="text-base text-gray-600 leading-relaxed font-[Roboto] text-center select-none">
    A união com IA, IoT e Big Data está <span class="font-semibold hover:underline">redefinindo</span> o
    mundo digital.
  </p>

  <div class="grid grid-cols-2 sm:grid-cols-4 gap-8 mt-12 z-10">
    <app-image-card *ngFor="let item of images" [imageUrl]="item.imageUrl" [title]="item.title"
      [gap]="2"></app-image-card>
  </div>
</div>